* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #992006;
}

body,
#root,
html {
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: #992006;
}
